* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.titutoitec{
    margin: auto;
    color: #FFF;
}
.navegacion{
    width: 1400px;
    margin: 20px auto;
    background: teal;
}

.navegacion ul{
    margin-top: -30px;
    list-style: none;

}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 10px 15px;
    color: skyblue;
    font-family: sans-serif;
    text-decoration: none;
}

.menu li a:hover {
    color: aliceblue;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: teal;
    width: 200%;
    display: none;
}
.submenu li a{
    display: block;
    padding: 10px;
    color:skyblue;
    font-family: sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    display: block;
}

#header{
    margin: auto;
    padding: 10px;
    width: 1400px;
    height: 200px;
    background-color: aquamarine;
    justify-content: center;	
    align-items: center;
}

#header img{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 50px;
    float: left;
}
#header h1{
    margin: 30px;
    font-size: 50px;
    color: #FFF;
}
#sitios{
    float: right;
    margin-right: 60px;
    width: 180px;
    height: 600px;
    background-color: white;
    float: right;
}

#imglogo{
    margin: 60px 100px;
    float: left;
}

.contenido{
    padding: 10px;
    margin: 10px 20px;
    width: 1000px;
    background-color: #FFF;
    font-family: sans-serif;
    float: left;
}

.contenido p{
    margin: 10px 20px;
    font-weight: 200px;
    text-align: justify;
    
}

.contenido h1{
    margin: 20px;
    margin-bottom: 0px;
    font-size: 40px;
    color: blue;
    text-align: center;
}

.contenido h3{
    margin: 20px 20px;
    font-size: 25px;
    color: blue;
    justify-content: center;	
    align-items: left;
}

.parf {
    margin: 0px 160px;
    padding: 20px;
    background-color: dodgerblue;
    width: 70%;
    text-align: center;
    justify-content: center;	
    align-items: center;
}

.lis{
    list-style: none;
}

#imgsitios{
    margin: 30px 80px 0px 0px; ;
}


.articlestyle{
    margin: 10px 20px;
    padding: 10px;
    width: 800px;
    background-color: #FFF;
    float: left;
}

.articlestyle h2{
    margin: 10px 0px;
    text-align: left;
    color: #3776fff5;
    font-size: 30px;
}

.articlestyle ul{
    margin: 10px 20px;
    text-align: left;
    color: #6c778ff5;
    font-size: 20px;
}

.articlestyle ul li{
    margin: 10px 20px;
}

.articlestyle a{
    text-align: left;
    color: #08e613f5;
    font-size: 20px;
}

.articlestyle p{
    margin: 20px 0px;
    text-align: left;
    color: #6c778ff5;
    font-size: 20px;
}

.formstyle{
    margin: 0px;
    padding: 0px;
}

.formstyle td{
    margin: 0px;

}
.formstyle input{
    width: 400px;
    height: 40px;
    margin: 10px 0px;
    padding: 20px;
    color: #6c778ff5;
    
}

.formMsj{
    width: 600px;
    height: 200px;
    color: #6c778ff5;
}

#radio{
    width: 50px;
    height: 10px;
    margin: 10px 0px;
    
    
}

#carrerSelect{
    width: 850px;
    height: 40px;
    margin: 10px 0px;
    font-size: 15px;
}